@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("SearchEngine", "Video", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "SearchID" })
        <input type="submit" id="SearchBtnID" value="Search" disabled="disabled" />
    </p>
}

<ul>
    <li>@Html.ActionLink("Hasar", "GetVideoByCategory", new { category = "Hasar" })</li>
    <li>@Html.ActionLink("Rómantík", "GetVideoByCategory", new { category = "Rómantík" })</li>
    <li>@Html.ActionLink("Ævintýra", "GetVideoByCategory", new { category = "Ævintýra" })</li>
</ul>