@model PagedList.IPagedList<TransApp.Models.Video>
@using PagedList.Mvc;

@{
    ViewBag.Title = "GetVideos";
}

@{Html.RenderPartial("VideoPartialView");}

<p>Síða @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) af @Model.PageCount</p>

@Html.PagedListPager(Model, page => Url.Action("GetVideos", new { page, sortOrder = ViewBag.CurrentSort }))



