@model PagedList.IPagedList<TransApp.Models.Video>
@using PagedList.Mvc;

@{
    ViewBag.Title = "OrderSearchByDate";
}

@{Html.RenderPartial("Search");}

<p>Síða @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) af @Model.PageCount</p>

@Html.PagedListPager(Model, page => Url.Action("OrderSearchByDate", new { page, currentFilter = ViewBag.CurrentFilter }))




