@model IEnumerable<TransApp.Models.UserRequest>
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Ný beiðni", "CreateUserRequest")
<ul>
    @foreach (var item in Model)
    {
        <li>@item.requestName</li>
    }
</ul>

