@model TransApp.Models.UserRequest

@{
    ViewBag.Title = "GetUserRequestById";
}

<h1>@Model.requestName</h1>
<p>@Model.requestText </p>
<p>@Model.requestLanguage</p>
@using (Html.BeginForm("Like", "UserRequest", new { id = Model.ID }))
{
    <input type="submit" value="Like" />
}
<p>Fjöldi atkvæða: @Model.likes</p>