body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.svartur {
    color: black;
}

th {
    color: black;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#newTransLink
{
    margin: 1em;
}

#SearchEngine2
{
    margin: 2em;
}

#TL1
{
    width : 50%;
}
#TL2
{
    width : 30%;
}
#TL3
{
    width : 20%;
}
#BL1
{
    width : 50%;
}
#BL2
{
    width : 15%;
}
#BL3
{
    width : 15%;
}
#BL4
{
    width : 10%;
}
#BL5
{
    width : 10%;
}
#ColCenter
{
    text-align:center;
}