body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.reqheader {
    color: black;
}

th {
    color: black;
}

footer {
    text-align: center;
    border-top: medium; 
}

.flokkar li {
    display: inline;
}

.flokkar {
    margin-left: 39%;
}

.forsida {
    margin-left: 36%;
    margin-top: 3%;
}

.leita {
    margin-top: 3%;
    margin-left: 40%; 
}

.table {
    margin-top: 5%;
}

.btn { 
    margin-left: 45%;
    margin-top: 3%;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}